<form action="/post/create" method="post">
<div>
    <label for="title">Title of comment</label>
    <input type="text" name="title" id="title" required>
</div>
<div>
    <label for="content">Content of comment</label>
    <input type="text" name="content" id="content">
</div>
<button type="submit">Published</button>
</form>