<h1>Signup</h1>
<form action="/auth/register" method="post">
    {{> form}}
    <button type="submit">Registrar</button>
</form>
<p>Ya tienes una cuenta? <a href="/auth/login">Inicia sesión aquí</a></p>
<p>Registrate con GitHub <a href="/auth/github">registrate con GitHub</a></p>